body {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #eee;
}
hr { width:100%;
     height:1px;
    background: #fff
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading{
    margin-bottom: 10px;
}
.form-signin .message-area{
    margin-bottom: 10px;
}
.form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
    padding-left: 20px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-brand {
    height: 30px;
}
.navbar-default .navbar-brand {
    color:#160202;
}
.navbar-toggle{
    padding: 6px 10px;
}
.nav>li>a{
    padding: 10px 30px;
}
.alerts-area{
    padding: 0px 15px 0px 15px;
}
.h5_Title{
    margin-left: 15px;
}
.anchor {
    padding-top: 60px;
    margin-top: -60px;
}
.Table_Caption{
    font-size: 16px;
    font-weight:bold;
}