<p>Foot</p>

    <li>Which is the fastest way to get through?</li>
    <li>How to get a state-of-art UI?</li>
    <li>Is there a way to fit all the screen resolution?</li>
    <li>What is the best server technology which provides good performance yet low cost?</li>
    <li>Which data persistent method do I need?</li>
    <li>How to build a re-usable framework with good modularization?</li>
    <li>How about the security problem?</li>
    <li>How can I find all these technologies and compose them into a monolith?</li>
<a href="blog_detail.html" target="_blank">aaaa</a>
<a ng-click="openAccordionGroup(2)">"Choose the technologies and tools"</a>.</p>